* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://media.istockphoto.com/photos/mountain-of-books-education-dark-background-picture-id1195277271?k=20&m=1195277271&s=170667a&w=0&h=F93ZN7IrlYLpAEMwUAeEl1wRQuFmIKlE8Apa-qPDbgg=);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  background-attachment: fixed;
  font-family: 'Aladin';
  font-size: 20px;
  margin-bottom: 90px;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}
p {
  color: white;
}
.navbaricons {
  font-size: large;
  border-style: hidden;
  border-bottom: 2px solid red;
  border-radius: 5px;
  margin-left: 12px;
  transition: 0.3s;
}
.navbaricon :hover {
  font-size: x-large;
  border-color: blue;
  border-width: 3px;
  color: blue;
  cursor: pointer;
}
td,
tr,
table {
  color: white;
  border: 2px solid greenyellow;
  width: 930px;
}
th {
  color: blue;
}
.info {
  color: orangered;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.menuopener {
  width: 35px;
  height: 32px;
  background-color: white;
  border-radius: 4px;
  transition: 0.8s;
  margin-top: 6px;
  margin-left: 9px;
}
.menuopener:hover {
  background-color: #818181;
}
.sidenav .active {
  color: white;
}
.navbar {
  height: 45px;
  background-color: aqua;
  margin-bottom: 30px;
  position: relative;
  transition: 0.5s;
}
.navbar div a {
  display: inline-block;
  vertical-align: 50% 50%;
}
.navbar a {
  text-decoration: none;
  display: inline-block;
}
.navbaritem {
  text-decoration: none;
  text-align: left;
  font-size: large;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.6s;
  color: gray; 
}
.navbaritem:hover {
  color: blue;
}